* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20px;
  color: #2a2a2a;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 6rem;
  white-space: nowrap;
  text-align: center;
}

.description {
  margin: 0;
  font-size: 1em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

main {
  max-width: 960px;
  margin: 20px auto;
}

#bookmark-form {
  width: 960px;
}

#bookmark-form div {
  margin: 10px 0 10px 0;
}

.box {
	border: 1px solid rgb(211, 198, 198);
  margin-bottom: 17px;
  padding: 10px;  
}

ul  {
  list-style: none;
  padding-left: 0;
}
.fa-star {
  color: grey;
}

.checked {
    color: orange;
}

.bookmark-add-form-trigger-btn {
  display: inline-block;
	background-color: #68C373;
	border: 2px solid #68C373;
	color: white;
	font-size: 18px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 20px;
  transition: background-color 0.5s ease;
  width: 150px;
	height: 40px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}

.bookmark-add-form-trigger-btn:hover {
	background-color: #4f9157;
}

.hidden {
  display: none;
}

.bookmark-title {
  font-size: 1.5rem;
  margin-top: 7px;
  margin-bottom: 7px;
}

.js-delete-x {
  text-align: right;
}

.bookmark-item-controls {
  margin-top: 7px;
}